* {
    font-family: Arial, Helvetica, sans-serif;
}
* li {
    list-style-type: none;
}
.delete {
    background-color: #E2E2E2;
}
.sblu {
    background-color: #A5CCDA;
}
.lblu {
    background-color: #ADD8E6;
}
.delete::before {
    content: url(icons/checked_16.png);
    padding: 10px 20px;
}
.lblu::before,
.sblu::before {
    content: url(icons/unchecked_16.png);
    padding: 10px 20px;
}
.delete,
.sblu,
.lblu {
    padding: 10px;
}
.container {
    width: 640px;
    margin: auto;
    background-color: #F5F5F5;
    padding: 20px 0;
}
h2 {
    padding-left: 40px;
}
ul {
    padding-right: 40px;
}
.delete::after,
.sblu::after,
.lblu::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(icons/free-png.ru-388-340x257.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom;
    margin: 0 15px;
}
.navigation div{
    display: inline-block;
    background-color: rgb(50, 181, 13);
    box-shadow: 3px 3px 6px rgb(29, 185, 15);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px rgb(121, 121, 121) solid;
}
.navigation a{
    color: rgb(231, 243, 243);
    text-decoration: none;
}
.navigation{
    margin: auto;
    text-align: center;
}
.navigation div:hover {
    box-shadow: -3px -3px 6px rgb(15, 128, 185), 3px 0px 6px rgb(15, 128, 185);
    cursor: pointer;
    background: -webkit-radial-gradient(center, circle cover,rgb(50, 181, 13),rgba(49, 181, 13, 0.9));
    background: -moz-radial-gradient(center, circle cover,rgb(50, 181, 13),rgba(49, 181, 13, 0.9));
    background: -o-radial-gradient(center, circle cover,rgb(50, 181, 13),rgba(49, 181, 13, 0.9));
    background: -ms-radial-gradient(center, circle cover,rgb(50, 181, 13),rgba(49, 181, 13, 0.9));
}
.navigation div:active {
    opacity: 0.8;
}